<IfModule mod_rewrite.c>
	RewriteCond %{HTTPS} off [OR]
	RewriteCond %{HTTP_HOST} ^www\.example\.com [NC]
	RewriteRule (.*) https://example.com/$1 [L,R=301]
</IfModule>

-------------------------------------------------------------------

#Code to fix canonical issue through .htaccess file:
#To Force www:
RewriteEngineon
RewriteCond%{HTTP_HOST} ^syntheticicesolutions.com [NC]
RewriteRule ^(.*)$ https://www.syntheticicesolutions.com/$1 [L,R=301,NC]



1. Below code is for https www version to https non-www version format
<IfModule mod_rewrite.c>
	RewriteCond %{HTTPS} off [OR]
	RewriteCond %{HTTP_HOST} ^www\.examplesite\.com [NC]
	RewriteRule (.*) https://examplesite.com/$1 [L,R=301]
</IfModule>

2. Below code is for index.html  version to https www version format
RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ https://www. examplesite.com/$1 [R=301,L]

3. Below code is for https non-www version to https www version format
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^ examplesite\.com [NC]
RewriteRule (.*) https://www. examplesite.com/$1 [L,R=301]

4. Below code is for https/http www version to https non-www version format
RewriteCond %{HTTP_HOST} ^(?:www\.)examplesite\.com$ [NC]
RewriteRule ^ https://examplesite.com%{REQUEST_URI} [L,R=301]



